
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.display-flex{
  display: flex;
}

.text-primary{
  color: #FF900E;
}

/* dark 01 */

.text-black{
  color: #131313;
}

/* dark 02 */
.text-gray{
  color: #424242;
}

/* dark 03 */
.text-light-gray{
  color: #727272;

}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}

main{
  max-width: 54rem;
  margin: 0 auto;
}

main > section{
  margin-top: 8.4rem;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
/* Header Styles */

/* Navbar related Styles */

.navbar{
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.brand{
  font-weight: 700;
  font-size: 2.8rem;
  margin-left: 2.25rem;
}

.nav-item{
  list-style: none;
  margin-right: 1.8rem;
  
}

.nav-link{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 90rem;
  margin: 0 auto;
}

/* Banner related Styles */

.banner-content{
  max-width: 54rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-description{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.banner-image{
  width: 100%;
}

/* Team and Feature related Styles */

.teams{
  align-items: center;
  justify-content: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.our-features{
  margin-left: 5rem;
  max-width: 45rem;
  min-height: 19rem;
  
}

#quick-list{
  font-weight: 500;
}

.feature-description{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* Some Fact Related Styles*/

.some-facts{

}

.some-facts-description{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 90rem;

}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-left: 50px;
  margin-right: 50px;
}

.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 15rem;
  height: 15rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #424242;
}

.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
  color: #727272;

}

/* Sponsor Related Styles */

.sponsor-info{
  max-width: 34rem;
  margin: 50px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

.sponsor-companies img{
  width: 9rem;
  height: 2.8rem;
  filter: grayscale(100%);


}

/* Responsive Media Query */

@media screen and (max-width: 576px) {
  .navbar,
   .nav-links,
   .teams{
    flex-direction: column;
  }

  .team-img-container, 
  .facts-container,
  .sponsor-companies{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .facts-container, .sponsor-companies{
    justify-items: center;
    gap: 2rem;
  }
  
  
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner, .navbar{
    max-width: 54rem;
    margin: 0 auto;
  }

  .teams{
    flex-direction: column;
  }

  .our-features{
    margin: 50px auto;
  }

  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .sponsor-companies{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}